<h2>Benchmark Results Compare</h2>
<p>
    The time is now: <%= Time.now %>
</p>
<p>
    The score for Benchmark Results <%= @benchmark_result_1.id %> is <%= @benchmark_result_1.score %>
</p>
<p>
    The score for Benchmark Results <%= @benchmark_result_2.id %> is <%= @benchmark_result_2.score %>
</p>
<p>
    The difference between the two is <%= @diff %>
</p>
